<html>

<head>
    <meta name="status" content="accepted" />
    <meta name="points" content="{{points}}" />
    <meta name="max_points" content="{{max_points}}" />
    <meta name="DC.Description" content="Exercise description" />
    <meta name="DC.title" lang="en" content="Hello A+, a sample exercice" />
</head>

<body>
    <div class="alert alert-success">
        Submission successful, you got {{points}} of {{max_points}} points!
    </div>

</html>