{{>messages}}
<div class='container'>
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a "Who Wants to Be a Billionaire?" game, made by Group 41!</p>
        <hr class="my-4">
        <p>Authors: Jaakko Voutilainen, Mikko Ollila, Eemil Laine</p>
    </div>
</div>