<div>
    <div class="container">
        <div class="alert alert-success">
            Congratulations, your answer was correct! You're a billionaire! (Actual won amount: {{ points }} €)
        </div>
    </div>
</div>
